---
layout: default
title: Mucomplex Diary
---
<h4>What hackers do is figure out technology and experiment with it in ways many people never imagined. They also have a strong desire to share this information with others and to explain it to people whose only qualification may be the desire to learn. - Emmanuel Goldstein</h4>

<h4> <a href='https://www.youracclaim.com/users/ahmad-fitri/badges' >Ahmad Fitri - OSCP(6/5/2018),OSCE(21/3/2019),OSWE(6/7/2019)</a><h4>
<ul>
  {% for post in site.posts %}
    <li>
      <h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
      <p>{{ post.description }}</p>
    </li>
  {% endfor %}
</ul>
{% include spotifySong.html id="3BaxuFlbs3jpHPN2okC57e" %}
